In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('nyc.csv')

In [27]:
df['price_per_night'] = df['price'] / df['minimum_nights']

In [28]:
Q1 = df['price_per_night'].quantile(.25)
Q3 = df['price_per_night'].quantile(.75)
IQR = Q3 - Q1

In [29]:
lower_bound = max(df['price_per_night'].min(),Q1 - 1.5*IQR)
higher_bound = min(df['price_per_night'].max(),Q3 + 1.5*IQR)

In [30]:
no_outlier_df = df[(df['price_per_night'] >= lower_bound) & (df['price_per_night'] <= higher_bound)]

In [32]:
df.count()

id                                48895
name                              48879
host_id                           48895
host_name                         48874
neighbourhood_group               48895
neighbourhood                     48895
latitude                          48895
longitude                         48895
room_type                         48895
price                             48895
minimum_nights                    48895
number_of_reviews                 48895
last_review                       38843
reviews_per_month                 38843
calculated_host_listings_count    48895
availability_365                  48895
price_per_night                   48895
dtype: int64

In [33]:
no_outlier_df.count()

id                                45562
name                              45548
host_id                           45562
host_name                         45543
neighbourhood_group               45562
neighbourhood                     45562
latitude                          45562
longitude                         45562
room_type                         45562
price                             45562
minimum_nights                    45562
number_of_reviews                 45562
last_review                       36577
reviews_per_month                 36577
calculated_host_listings_count    45562
availability_365                  45562
price_per_night                   45562
dtype: int64